@page "/budgetitemtypes"
@using MonthlyCompanyBudget.Components.Dialogs
@using MonthlyCompanyBudget.Core.Enums
@using MonthlyCompanyBudget.Data
@using Entities = Core.Entities
@using MonthlyCompanyBudget.Shared
@inject IDialogService DialogService

<MudToolBar>
    <MudText Typo="Typo.h6">Budget Item Types</MudText>
    <MudSpacer></MudSpacer>
    <MudSpacer></MudSpacer>
    <MudSpacer></MudSpacer>
    <MudSpacer></MudSpacer>
    <MudSelect T="int" Value="_categoryFilter" ValueChanged="FilterTable">
        @foreach (var category in _categoriesFilterList)
        {
            <MudSelectItem Value="category.Key">@category.Value</MudSelectItem>
        }
    </MudSelect>
    <MudSpacer></MudSpacer>
    <MudTooltip Text="Create">
        <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="AddBudgetItemType" />
    </MudTooltip>
</MudToolBar>
<MudSimpleTable Dense="true" Bordered="true" Hover="true">
    <thead>
        <tr><th>Name</th><th>Category</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var item in _budgetItemTypes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.GetDescription()</td>
                <td>
                    <MudTooltip Text="Edit">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" OnClick="@(() => Edit(item))"></MudIconButton>
                    </MudTooltip>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    private List<Entities.BudgetItemType> _budgetItemTypes = new List<Entities.BudgetItemType>();
    private Dictionary<int, string> _categoriesFilterList = new Dictionary<int, string>
    {
        {0, "All"},
        {(int)BudgetItemTypeCategory.Income, BudgetItemTypeCategory.Income.GetDescription()},
        {(int)BudgetItemTypeCategory.PersonnelExpenses, BudgetItemTypeCategory.PersonnelExpenses.GetDescription()},
        {(int)BudgetItemTypeCategory.OperatingExpenses, BudgetItemTypeCategory.OperatingExpenses.GetDescription()}
    };
    private int _categoryFilter = 0;

    protected override void OnInitialized()
    {
        GetBudgetItemTypes((BudgetItemTypeCategory)_categoryFilter);
    }

    private void GetBudgetItemTypes(BudgetItemTypeCategory category)
    {
        using(var context = new ApplicationDbContext())
        {
            if (((int)category) == 0)
                _budgetItemTypes = context.BudgetItemTypes.ToList();
            else
                _budgetItemTypes = context.BudgetItemTypes.Where(x => x.Category == category).ToList();
        }
    }

    private async Task AddBudgetItemType()
    {
        var budgetItemType = new Entities.BudgetItemType();
        var parameters = new DialogParameters<BudgetItemTypeForm> { { x => x.BudgetItemType, budgetItemType } };
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<BudgetItemTypeForm>("Create Budget Item Type", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            using (var context = new ApplicationDbContext())
            {
                context.BudgetItemTypes.Add(budgetItemType);
                await context.SaveChangesAsync();

                GetBudgetItemTypes((BudgetItemTypeCategory)_categoryFilter);
            }
        }
    }

    private void FilterTable(int category)
    {
        _categoryFilter = category;
        GetBudgetItemTypes((BudgetItemTypeCategory)category);
    }

    private async Task Edit(Entities.BudgetItemType budgetItemType)
    {
        var parameters = new DialogParameters<BudgetItemTypeForm> { { x => x.BudgetItemType, budgetItemType } };
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<BudgetItemTypeForm>("Edit Budget Item Type", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            using (var context = new ApplicationDbContext())
            {
                if (budgetItemType.Id > 0)
                    context.BudgetItemTypes.Update(budgetItemType);
                else
                    context.BudgetItemTypes.Add(budgetItemType);

                
                await context.SaveChangesAsync();

                GetBudgetItemTypes((BudgetItemTypeCategory)_categoryFilter);
            }
        }
    }
}
